@import '../../assets/styles/global';

.Button {
  .ant-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.reverse {
    .ant-btn {
      flex-direction: row-reverse;

      .Button {
        &-title {
          margin-left: 0;
          margin-right: 8px;
        }
      }
    }
  }
}