@import '@/assets/styles/_global.scss';

.CheckYourEmail {
  text-align: center;

  &-title {
    font-size: 3rem;
    margin-bottom: 0.8rem;
  }

  &-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;

    big {
      font-size: 2rem;
    }

    span {
      color: $dodger-blue;
    }
  }

  &-submit {
    margin: 2.2rem 0 3.2rem;
  }
}