@import '@/assets/styles/_global.scss';

.Register {
  text-align: center;

  &-logo {
    max-width: 20.5rem;
    margin: 0 auto 1rem;

    img {
      width: 100%;
    }
  }

  &-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;

    big {
      font-size: 2rem;
    }

    span {
      color: $dodger-blue;
    }
  }

  &-submit {
    margin: 2.2rem 0 3.2rem;
  }

  &-third-party {
    position: relative;
    margin: 3.2rem 0;

    &::before {
      position: absolute;
      height: 1px;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: $alto;
      content: '';
    }

    span {
      position: relative;
      z-index: 1;
      font-size: 1.4rem;
      color: $alto;
      background: $white;
      padding: .8rem;
    }
  }

  &-term {
    color: rgba($black, 0.6);

    a {
      text-decoration: underline;
      color: rgba($black, 0.6);
    }
  }

  &-socials {
    margin-bottom: 2.4rem;
  }
}