/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #000000;

$maroon-flush: #BA1B47;
$torch-red: #F5033D;
$tangaroa: #03192D;
$dodger-blue: #3C95FF;
$mine-shaft: #3f3f3f;
$chambray: #425f93;
$aqua: #38DBFF;
$daintree: #002137;
$paris-daisy: #FCFF79;
$malachite: #3FEA3B;
$selective-yellow: #FFB800;