/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #000000;

$gallery: #F0F0F0;
$athens-gray: #F0F2F5;
$dodger-blue: #1890FF;
$alto: #D9D9D9;
$lima: #52C41A;
$limeade: #7CB305;
$emperor: #505050;
$link-water: #D7E4F3;